body {
	padding: 0;
	margin: 0;
}

html,
body,
#map {
	height: 100%;
	width: 100vw;
}

.leaflet-popup-content-wrapper {
	padding: 1em .5em;
	text-align: center;
	border-radius: 12px;
	/* min-width: 19em; */
}
.leaflet-popup-content {
	margin: 0 .5em;
	line-height: 1.4;
}
.leaflet-popup-content-wrapper img {
	width: 100%;
	min-width: 18em;
	margin: 6px auto;
	border-radius: 7px;
	transition: transform 0.25s ease;
	cursor: zoom-in;
}
.leaflet-popup-content-wrapper img:hover {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	/* top: .6em;
	right: 1em; */
}
.inputShare {
	max-width:95%;border-radius:5px;border: #999 solid 1px;height:30px;
	padding: 0 7px;
}
.btn {
	border-radius:5px;color:white;height:32px;font-size:16px;line-height:2px;margin:5px;
}
.green {
	float:right;
	border:#2BB94D solid 1px;
	background-color:#31D758;
}
.red {
	float:left;
	border:#C92323 solid 1px;
	background-color:#EA4E4E;
}
.blue {
	/* float:right; */
	border:rgb(52, 96, 240) solid 1px;
	background-color:rgb(49, 149, 215);
}

.info input[type=checkbox] {
	display: none;
  }
.leaflet-popup-content-wrapper input[type=checkbox] {
	display: none;
  }
  
  input[type=checkbox]:checked ~ label > img {
	transform: scale(1.42);
	margin: 2.6em 3.4em 1em;
	padding: 4px;
	cursor: zoom-out;
  }
  .leaflet-popup-content-wrapper input[type=checkbox]:checked ~ label > img {
	transform: scale(1.6);
	cursor: zoom-out;
	margin: 0 auto 1.2em;
	padding: 4px;
  }


.info {
	
	font: 14px/16px Arial, Helvetica, sans-serif;
	border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.info img {
	max-width: 22em;
    background-clip: padding-box;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 7px;
	background-color: rgba(255, 255, 255, 0.8);
	transition: transform 0.25s ease;
	cursor: zoom-in;
}
.info img:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.width {
	max-width: 30em;
	padding:  .5em;
	text-align: center;
}

.info h4 {
	margin: 0 0 12px;
	color: #777;
}

.info i {
	color: #666;
	font-size: 9px;
}

.legend {
	line-height: 18px;
	color: #555;
	text-align: center; 
	z-index: 30000;
    background-clip: padding-box;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	padding: 2px;
}

.legend img {
	width: 100%;
	padding: 0px;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.logo {
	z-index: 1000;
	width: 2.5em;
	height: 2.5em;
	border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    margin-left: 10px;
    margin-top: 10px;
}
.left {
	left: 1em;
}

.logo img {
	width: 2em;
	padding: 3px;
}
@media (max-width: 440px),
(max-height : 600px) {


	.info img {
		max-width: 14em;
	}

	.leaflet-popup-content-wrapper {
		max-width: 18em;
	}
	.leaflet-popup-content-wrapper img {
		min-width: 16em;
	}
}